__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
outputs/

# 忽略 pipeline_playground.py
src/pupil_distance_detector/pipelines/pipeline_playground.py